<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd' 'HH:mm:ss' '}] [%C] [%t] [%L] [%-5p] %m%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd' 'HH:mm:ss' '}] [%C] [%t] [%L] [%-5p] %m%n
			</pattern>
		</encoder>
		<file>.logs/appdemo.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>.logs/archived/appdemo_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
			<maxFileSize>2MB</maxFileSize>
			<maxHistory>10</maxHistory>
			<totalSizeCap>25MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

	<logger name="org.hibernate" additivity="false" level="DEBUG">
		<appender-ref ref="FILE"/>
	</logger>
	
	<logger name="org.springframework.web" additivity="false" level="INFO">
		<appender-ref ref="FILE"/>
	</logger>
	
	<logger name="andrzej.appdemo" additivity="false" level="DEBUG">
		<appender-ref ref="FILE"/>
	</logger>

</configuration>